@using InspiredCooking.Core
@model Recipe

<div class="card">
    <img class="card-img-top" src="~/images/food.jpg" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title display-4 text-capitalize">@Model.Name</h5>
        <p class="card-text text-muted">@Model.Description</p>
        <p class="card-text"><small class="text-muted">Ready in @Model.PrepTime </small></p>
        <div class="row">
            <a class="btn btn-light col-4" asp-page="./Detail" asp-route-recipeId="@Model.Id">
                <i class="bi-zoom-in"></i>
            </a>
            <a class="btn btn-light col-4" asp-page="./Edit" asp-route-recipeId="@Model.Id">
                <i class="bi-pencil"></i>
            </a>
            <a class="btn btn-light col-4" asp-page="./Delete" asp-route-recipeId="@Model.Id">
                <i class="bi-trash"></i>
            </a>
            <a asp-page="cart" asp-page-handler="buynow" asp-route-id="@Model.Id">Buy Now</a>
        </div>
    </div>
</div>

