@page "/recipes"
@model InspiredCooking.Pages.Recipes.ListModel
@{
    ViewData["Title"] = "Recipes";
}
<div class="container">

    <!--Landing -->
    <div class="row" id="landing-row">
        <!--Call Col-->
        <div class="col" id="landing-text">
            <div class="row">
                <h1>Don't think about your menu everyday.</h1>
                <h4>Just create your cookbook and <strong>enjoy cooking.</strong></h4>
            </div>
            <div class="row">
                <a asp-page="" class="btn btn-main landing-btn">Get started</a>
                <a asp-page="" class="btn btn-main landing-btn">Explore Recipes</a>
            </div>
        </div>
        <!--Image Col-->
        <div class="col" id="landing-image">
            <img class="img-fluid" src="~/images/home-image.png" alt="Card image cap" />
        </div>
    </div>

    <!--Search recipes-->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light bg-light float-right">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>

    <!--Recipes List-->
    <div class="row recipe-list-description">
        <h3>Check Recipes and Create your Cookbook for the week</h3>
    </div>
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap" />
                    <div class="card-body">
                        <!--Recipe Info-->
                        <p class="card-text"><i class="bi-clock"></i><small class="text-muted"> @(recipe.PrepTimeinMinutes + recipe.CookTimeinMinutes) min.</small></p>
                        <h3 class="card-title text-capitalize" id="recipe-title">@recipe.Name</h3>
                        <p class="card-text text-muted description-text" id="recipe-descrip">@recipe.Description</p>

                        <div class="d-flex justify-content-end">
                            <div class="">
                                <!-- See Recipe Details-->
                                <a class="btn" asp-page="./Detail" asp-route-recipeId="@recipe.Id">
                                    <i class="bi-zoom-in" style="color: forestgreen"></i>
                                </a>
                            </div>
                            <div class="">
                                <!-- Add/Remove to/from Cookbook-->
                                @if (Model.CurrentMenu.Contains(recipe.Id))
                                {
                                    <form class="row" method="post" asp-page="./RemoveFromMenu" asp-route-recipeId="@recipe.Id">
                                        <button class="btn">
                                            <i class="bi-bookmark-fill" style="color: forestgreen"></i>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form class="row" method="post" asp-page="./SavetoMenu" asp-route-recipeId="@recipe.Id">
                                        <button class="btn">
                                            <i class="bi-bookmark" style="color: forestgreen"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--Add New Recipe Link-->
    <div class="row">
        <div class="col-4 offset-8">
            <a asp-page=".\Create" class="btn btn-main float-right">Add New Recipe</a>
        </div>
    </div>
    <!--Viewed Recipes List-->
    <div class="container">
        <div class="row">
            <h3>Your recently viewed recipes </h3>
        </div>
        <div class="row viewed-recipes">
            @foreach (var recipe in @Model.ViewedRecipes)
            {
                <div class="col-2">
                    <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap" />
                </div>
            }
        </div>
    </div>
    <!--Counter-->
    <div class="row alert alert-light" role="alert">
        <div class="col">
            <p>You have <strong>@Model.CurrentMenu.Count</strong> recipes on your<a class="alert-link" asp-page=".\menu"> CookBook.</a></p>
        </div>
    </div>
</div>


