@page "/recipes"
@model InspiredCooking.Pages.Recipes.ListModel
@{
    ViewData["Title"] = "Recipes";
}
<div class="container">
    <!--Counter-->
    <div class="row">
        <div class="col">
            <p>You have @Model.CurrentMenu.Count recipes on your<a asp-page=".\menu"> CookBook.</a></p>
        </div>
    </div>
    <!--Search recipes-->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light bg-light float-right">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <!--Recipes List-->
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-lg-3 col-md-3 col-sm-12">

                <div class="card">
                    <img class="card-img-top" src="~/images/food.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h3 class="card-title text-capitalize" id="recipe-title">@recipe.Name</h3>
                        <p class="card-text text-muted" id="recipe-descrip">@recipe.Description</p>
                        <p class="card-text"><small class="text-muted">Ready in @recipe.PrepTime </small></p>
                        <div class="row">
                            <a class="btn col-4" asp-page="./Detail" asp-route-recipeId="@recipe.Id">
                                <i class="bi-zoom-in" style="color: forestgreen"></i>
                            </a>
                            @if (Model.CurrentUserId != recipe.UserId)
                            {
                                <form class="row" method="post" asp-page="./AddToFavorites" asp-route-recipeId="@recipe.Id">
                                    <button class="btn btn-outline-success col-12" id="btn-add">
                                    <i class="bi-suit-heart" style="color: forestgreen"></i></button>
                                </form>
                            }
                            @if (Model.CurrentUserId == recipe.UserId)
                            {
                                <a class="btn col-4" asp-page="./Edit" asp-route-recipeId="@recipe.Id">
                                    <i class="bi-pencil"></i>
                                </a>
                                <a class="btn col-4" asp-page="./Delete" asp-route-recipeId="@recipe.Id">
                                    <i class="bi-trash"></i>
                                </a>
                            }

                        </div>
                        @if (Model.CurrentMenu.Contains(recipe.Id))
                        {
                            <form class="row" method="post" asp-page="./RemoveFromMenu" asp-route-recipeId="@recipe.Id">
                                <button class="btn btn-outline-success col-12">Delete from CookBook</button>
                            </form>
                        }
                        else
                        {
                            <form class="row" method="post" asp-page="./SavetoMenu" asp-route-recipeId="@recipe.Id">
                                <button class="btn btn-outline-success col-12" id="btn-add">Add to CookBook</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <!--Recipes List-->
    <div class="row">
        <div class="col">

        </div>
    </div>

    <!--Add New Recipe Link-->
    <div class="row">
        <div class="col-4 offset-8">
            <a asp-page=".\Create" class="btn btn-success float-right">Add New Recipe</a>
        </div>
    </div>

    <!--Viewed Recipes List-->
    <div class="row">
        @foreach (var recipe in @Model.ViewedRecipes)
        {
            <div class="col-md-3 col-sm-2">
                <ul>
                    <li>@recipe.Name</li>
                    <li>@recipe.Cuisine</li>
                    <li>@recipe.CookTime</li>
                </ul>
            </div>

        }
    </div>

</div>


