@page "/recipes"
@model InspiredCooking.Pages.Recipes.ListModel
@{
    ViewData["Title"] = "Recipes";
}
<div class="container">
    <!--Counter-->
    <div class="row">
        <p>You have @Model.CurrentMenu.Count recipes on your menu.</p>
        <a href="" class="stretched-link">See your Menu</a>
    </div>
    <div class="row">
        <h1>Recipes</h1>
    </div>
    <!--Search recipes-->
    <div class="row">
        <form method="get" class="col-12">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" name="searchTerm" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info">
                            <i class="bi-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--Recipes List-->
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">

                <div class="card">
                    <img class="card-img-top" src="~/images/food.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title display-4 text-capitalize">@recipe.Name</h5>
                        <p class="card-text text-muted">@recipe.Description</p>
                        <p class="card-text"><small class="text-muted">Ready in @recipe.PrepTime </small></p>
                        <div class="row">
                            <a class="btn btn-light col-4" asp-page="./Detail" asp-route-recipeId="@recipe.Id">
                                <i class="bi-zoom-in"></i>
                            </a>
                            <a class="btn btn-light col-4" asp-page="./Edit" asp-route-recipeId="@recipe.Id">
                                <i class="bi-pencil"></i>
                            </a>
                            <a class="btn btn-light col-4" asp-page="./Delete" asp-route-recipeId="@recipe.Id">
                                <i class="bi-trash"></i>
                            </a>
                            @if (Model.CurrentMenu.Contains(recipe.Id))
                            {
                                <a class="btn btn-light col-12" id="btn-saved">Saved in your Menu</a>
                            }
                            else
                            {
                                <a class="btn btn-light col-12" id="btn-saved" asp-page="./SavetoMenu" asp-route-recipeId="@recipe.Id">Add to Menu</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-4 offset-8">
            <a asp-page=".\Edit" class="btn btn-info float-right">Add New Recipe</a>
        </div>
    </div>





    <!--<component type="typeof(InspiredCooking.Web.Components.Counter)" param-InitialValue="0" render-mode="Server" />-->
    <!--
        <div>
        @Model.Message
    </div>
    -->
</div>



@section Scripts
{
    <script src="_framework/blazor.server.js"></script>
}
