@using recipes.Core
@model Recipe

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Ingredients:</p>
        <p class="card-text">@Model.Ingredients</p>


    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">PrepTime: @Model.PrepTime</li>
        <li class="list-group-item">CookTime: @Model.CookTime</li>
        <li class="list-group-item">Servings: @Model.Servings</li>
        <li class="list-group-item">Difficulty: @Model.Difficulty</li>
        <li class="list-group-item">Cuisine: @Model.Cuisine</li>
    </ul>
    <div class="card-body">
        <a class="btn btn-lg" asp-page="./Detail" asp-route-recipeId="@Model.Id">
            <i class="zoom">Show</i>
        </a>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-recipeId="@Model.Id">
            <i class="edit">Edit</i>
        </a>
        <a class="btn btn-lg" asp-page="./Delete" asp-route-recipeId="@Model.Id">
            <i class="edit">Delete</i>
        </a>
    </div>
</div>