<div class="container">
<!---Title--->
  <div>
      <h4>Log in</h4>
  </div>
  <!-- Sign up Form--->
  <div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!--Email Input--->
    <div class="row">
      <div class="input-field col s12 m6 l6" >
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <!--Password Input--->
    <div class="row">
      <div class="input-field col s12 m6 l6" >
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <!--Remember me TODO--->
    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <!--Button--->
    <button class="waves-effect waves-light btn grey darken-4 rigth-align" type="submit"><i class="material-icons left"></i>Log in</button>
  <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>




